<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">Core Languages</h2>
        <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-3">
        <span class="fa-stack fa-4x">
          <img class="rounded-circle img-fluid" src="assets/images/langs/ruby.png" alt="">
        </span>
        <h4 class="service-heading">Ruby</h4>
        <div class="progress">
          <div class="progress-bar ruby-progress" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
          </div>
        </div>
        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni,
          dicta impedit.</p>
      </div>
      <div class="col-md-3">
        <span class="fa-stack fa-4x">
          <img class="rounded-circle img-fluid" src="assets/images/langs/javascript.png" alt="">
        </span>
        <h4 class="service-heading">Javascript</h4>
        <div class="progress">
          <div class="progress-bar js-progress" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
          </div>
        </div>
        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni,
          dicta impedit.</p>
      </div>
      <div class="col-md-3">
        <span class="fa-stack fa-4x">
          <img class="rounded-circle img-fluid" src="assets/images/langs/python.png" alt="">
        </span>
        <h4 class="service-heading">Python </h4>
        <div class="progress">
          <div class="progress-bar py-progress" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
          </div>
        </div>
        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni,
          dicta impedit.</p>
      </div>
      <div class="col-md-3">
        <div id="coreLang"></div>
      </div>
    </div>
    <!-- <div class="row text-center"> -->
    <!-- <div class="col-md-2"></div>
      <div class="col-md-8">
          <div id="chartdiv"></div>
      </div>
      <div class="col-md-2"></div> -->

    <!-- </div> -->

    <br>
    <br>
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">Frameworks</h2>
        <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-3">
        <span class="fa-stack fa-4x">
          <img class="rounded-circle img-fluid" src="assets/images/langs/ror.jpeg" alt="">
        </span>
        <h4 class="service-heading">Rails</h4>
        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni,
          dicta impedit.</p>
      </div>
      <div class="col-md-3">
        <span class="fa-stack fa-4x">
          <img class="rounded-circle img-fluid" src="assets/images/langs/angular.png" alt="">
        </span>
        <h4 class="service-heading">Angular 2+</h4>
        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni,
          dicta impedit.</p>
      </div>
      <div class="col-md-3">
        <span class="fa-stack fa-4x">
          <img class="rounded-circle img-fluid" src="assets/images/langs/ionic.jpeg" alt="">
        </span>
        <h4 class="service-heading">Ionic</h4>
        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni,
          dicta impedit.</p>
      </div>
      <div class="col-md-3">
        <span class="fa-stack fa-4x">
          <img class="rounded-circle img-fluid" src="assets/images/langs/ts.png" alt="">
        </span>
        <h4 class="service-heading">TypeScript</h4>
        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni,
          dicta impedit.</p>
      </div>
    </div>
    <div class="row text-center">

      <div class="col-md-3">
        <span class="fa-stack fa-4x">
          <img class="rounded-circle img-fluid" src="assets/images/langs/django.png" alt="">
        </span>
        <h4 class="service-heading">Django</h4>
        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni,
          dicta impedit.</p>
      </div>

      <div class="col-md-9">
        <div id="framework"></div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">Databases</h2>
        <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-3">
        <span class="fa-stack fa-4x">
          <img class="rounded-circle img-fluid" src="assets/images/langs/mysql.png" alt="">
        </span>
        <h4 class="service-heading">MySQL</h4>
        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni,
          dicta impedit.</p>
      </div>
      <div class="col-md-3">
        <span class="fa-stack fa-4x">
          <img class="rounded-circle img-fluid" src="assets/images/langs/psql.png" alt="">
        </span>
        <h4 class="service-heading">PostgreSQL</h4>
        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni,
          dicta impedit.</p>
      </div>
      <div class="col-md-3">
        <span class="fa-stack fa-4x">
          <img class="rounded-circle img-fluid" src="assets/images/langs/mongo.png" alt="">
        </span>
        <h4 class="service-heading">MongoDB</h4>
        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni,
          dicta impedit.</p>
      </div>
      <div class="col-md-3">
        <div id="database"></div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">Others</h2>
        <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <img class="rounded-circle img-fluid" src="assets/images/langs/socket.png" alt="">
        </span>
        <h4 class="service-heading">Socket</h4>
        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni,
          dicta impedit.</p>
      </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <img class="rounded-circle img-fluid" src="assets/images/langs/heroku.png" alt="">
        </span>
        <h4 class="service-heading">Heroku</h4>
        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni,
          dicta impedit.</p>
      </div>

      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <img class="rounded-circle img-fluid" src="assets/images/langs/aws.png" alt="">
        </span>
        <h4 class="service-heading">Amazon Web Services</h4>
        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni,
          dicta impedit.</p>
      </div>

    </div>
    <div class="row text-center">

      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <img class="rounded-circle img-fluid" src="assets/images/langs/docker.jpeg" alt="">
        </span>
        <h4 class="service-heading">Docker</h4>
        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni,
          dicta impedit.</p>
      </div>
    </div>


  </div>
</section>