.picture{
    top: 66px;
}
.margin-center{
    margin: 0 auto;
}
.text-center{
color: #6c757d !important;
}
.summaery-legent{
    border-bottom:2px solid #333;
    margin-top: 15px;
}

#experiance {
    width: 100%;
    height: 40vh;
  }
  #experiance-company {
    width: 100%;
    height: 40vh;
  }
  #yantra {
    width: 100%;
    height: 40vh;
  }
  #wheelspin {
    width: 100%;
    height: 40vh;
  }
  #profotico {
    width: 100%;
    height: 40vh;
  }
  #gemcom {
    width: 100%;
    height: 40vh;
  }
  #invoicing{
    width: 100%;
    height: 40vh;
  }
  #annapoorani{
    width: 100%;
    height: 40vh;
  }
  #payanah{
    width: 100%;
    height: 40vh;
  }
  #sportsrocket{
    width: 100%;
    height: 40vh;
  }
  #education{
    width: 100%;
    height: 40vh;
  }

  